:root {
--verdeclaro: #F0FDF4;
--fundocaixa: #F3F5F8;
--titulo: #1f2937;
--subtitulo: #4b5563;
--botao-contorno: #16A34A;
--circle-number: #2563EB;
--botao-contorno-hover: #15803d;
--botao-contorno-azul: #2563EB;
--botao-contorno-azul-hover: #1D4ED8;
}

